*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url('img.jpg');
    background-size: 100% 100%;
}
nav{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.leftmenu{
    width: 30%;
    color: aliceblue;
    

    
}
.leftmenu h2{
    font-weight: lighter;
    font-size: 45px;
    text-transform: uppercase;
    padding-left: 40px;
    font-weight: bold;
    
    
}

.rightmenu{
    width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
   

}
.rightmenu a{
    color: aliceblue;
    text-decoration: none;
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
    position: relative;
}

.rightmenu a:hover{ 
    color: orange; 
    border-bottom: 2px solid orange;
}
.rightmenu a:hover:before{
    width: 100%;
}
section{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.part p{
    color: aliceblue;
    margin-bottom: 30px;
    font-size: 20px;
    word-spacing: 5px;
    font-weight: 0.1px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.part h1{
    color: aliceblue;
    font-size: 60px;
    letter-spacing: 4px;

}
button{
    color: aliceblue;
    background-color: transparent;
    margin-top: 60px ;
    padding: 10px 50px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 4px;
    

}
button:hover{
    color: rgb(80, 74, 74);
    cursor: pointer;
}
main{
    width: 100%;
    height: 50vh;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.item{
    width: 200px;
    height: 200px;
    background-color: rgb(16, 63, 63);
    padding: 20px;
    border-radius: 30px;
}

@media screen and (min-width:300px) and (max-width:400px){
    body{
        width: 100%;
    }
    header{
        width: 90%;
        margin: auto;
    }
    .leftmenu{

        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    .rightmenu{
        flex-direction: column;
    }
    .rightmenu a{
        line-height: 30px;
    }
    button{
        background-color: rgb(58, 77, 58);
    }
    
    .card{
        flex-direction: column;
        
    }
    .item{
        margin-top: 20px;
    }
}
@media screen and (min-width:401px) and (max-width:560px){
    body{
        width: 100%;
    }
    header{
        width: 90%;
        margin: auto;
    }
    .leftmenu{

        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    .rightmenu{
        flex-direction: column;
    }
    .rightmenu a{
        line-height: 30px;
    }
    #btn1{
        background-color:  rgb(58, 77, 58);
        position: absolute;
        left: 160px;
        bottom: 330px;
        
    }
    #btn2{
        background-color:  rgb(58, 77, 58);
        position: absolute;
        left: 150px;
        bottom: 240px;
        
    }
    
    .card{
       flex-wrap: wrap;
        
    }
    .item{
        margin-top: 20px;
    }
}




@media screen and (min-width:561px) and (max-width:670px){
    body{
        width: 100%;
    }
    header{
        width: 90%;
        margin: auto;
    }
    .leftmenu{

        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    .rightmenu{
        flex-direction: column;
    }
    .rightmenu a{
        line-height: 30px;
    }
    #btn1{
        background-color: rgb(58, 77, 58);
        position: absolute;
        left: 180px;
        bottom: 330px;
        
    }
    #btn2{
        background-color: rgb(58, 77, 58);
        position: absolute;
        left: 170px;
        bottom: 240px;
        
    }
    
    .card{
       flex-wrap: wrap;
        
    }
    .item{
        margin-top: 20px;
    }
}


@media screen and (min-width:672px) and (max-width:860px){
    body{
        width: 100%;
    }
    header{
        width: 90%;
        margin: auto;
    }
    .leftmenu{

        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    .rightmenu{
        flex-direction: column;
    }
    .rightmenu a{
        line-height: 30px;
    }
    #btn1{
        background-color: blueviolet;
        position: absolute;
        left: 260px;
        bottom: 330px;
        
    }
    #btn2{
        background-color:blueviolet;
        position: absolute;
        left: 250px;
        bottom: 240px;
        
    }
    
    .card{
       flex-wrap: wrap;
        
    }
    .item{
        margin-top: 20px;
    }
}

